@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);

html,body{
  overflow-x: hidden;
}


/* fonts */
body{
	font-family: Magnum Sans, Baskerville, serif;
	color:  #1D2951;
    font-size: 25px;
}
h1, h2, h3, h4{
	font-family: Magnum Sans, Baskerville, serif;
    font-size: 70px;
    font-weight: 150;
    color:  #6495ED;
}

h5{
	font-family: Magnum Sans, Baskerville, serif;
    font-size: 60px;
    font-weight: 150;
    color: lightskyblue;
}

h6{
	font-family: Magnum Sans, Baskerville, serif;
    font-size: 50px;
    font-weight: 150;
    color: midnightblue;
}
.lead-description{
	font-family: Magnum Sans, Baskerville, serif;
    font-size:40px;
}


/* CSS for hero image, either background photo or background video */
.hero{
  background-image: url("../assets/SS_Satin-BowerbirdLuke-Shelley_adj2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color:  #6495ED;
  position: relative;
  font-family: Magnum Sans Pro, Baskerville, serif;
    
}
.hero header{
  background-color:rgba(0,0,0,0.75);
}
.hero header > *{
  position: relative;
  z-index: 10;
}
.hero video{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 100vh;
  width: auto;
  z-index: 1 !important;
}
@media (min-aspect-ratio:16/9){
  .hero video{
    width: 100vw;
    height: auto;
  }
}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}



/* Sticky graphic */
.scroll-graphic{
  background-color:#000;
  z-index: -2;
}

 .image-holder{
  background-image: url(../assets/parvan/baby_bottle2.jpg);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section cite{
        margin-top: 20px;
        font-size: 1.5em;
        color: #777;
}

/* center an image */
.map{
    display: block;
    margin-left: auto;
}

.group{
    color : black;
    font-size : 20px;
}

.blue{
    color : darkblue;
    font-size : 25px;
}

.scroll_text{
    color:#2021c2;
    font-size : 25px;
    opacity: 0.5;
    font-family: Colombo, Baskerville, serif;
}







